# Development-only dependencies
-r requirements.txt

# Enhanced testing
pytest-mock==3.14.0
respx==0.21.1

# Debugging
ipython==8.26.0
pudb==2024.1.2

# Documentation
mkdocs==1.6.0
mkdocs-material==9.5.31
